.navbar {
    background-color: white;
    overflow: hidden;
    color: black;

}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;





}

.link {
    margin-top: 25px;
}

.navbar a:hover {
    background-color: white;
    color: grey;
}

.navbar .Hnav {
    display: none;
}

.welcome .image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bitcoinbg.jpg);
    width: 100%;
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;

}

.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
    transform: translate(-50%, -50%);
}


.text .head {
    font-weight: 800;

    font-size: 40px;


}

.text .login {
    width: 100px;

}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;

    width: 100%;
    max-width: 100%;
    margin: 20px 0px;
}

.steps div {
    flex: 25%;
    max-width: 20%;
    background-color: whitesmoke;
    padding: 0 20px;
    color: black;
    border-radius: 10px;
    margin: 0 25px;
    overflow: hidden;

}

.steps h2 {
    text-align: center;
    font-weight: 700;
    color: green;
    text-transform: capitalize;
    font-family: sans-serif;
}

.steps p {
    font-family: 'Times New Roman', Times, serif;

}

.steps button {
    padding: 6px;
    margin: 5px;
    width: 100%;
    border-radius: 20px;
    border: none;
}

.aboutus {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px 20px;
    grid-gap: 20px;
    /* background-color: gold; */
    padding: 10px;
    /* justify-content: space-btw; */
}



.aboutus>div {
    background-color: wheat;
    ;
    padding: 10px;
    color: black;
    border-radius: 5px;
    /* width: 300px;  */
}

.aboutus>div h2 {
    color: green;
    font-weight: 700;
    text-align: center;
}

.aboutus>div p {
    font-family: sans-serif;
    text-align: center;


}

.aboutus>div button {
    width: 100%;
    border-radius: 10px !important;
    border: none;
}

.item1 {
    grid-column: 1 / 3;
}

.item4 {
    grid-row: 2 / 4;
}

.item5 {
    grid-row: 2 / 4;
}


.planscontent {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 20px;
    grid-gap: 20px;
    padding: 10px;
}

.planscontent>div {
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 1px;


}

.planscontent h2 {
    border: 1px solid black;
}

hr.new {
    border-top: 1px solid blue;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.plans h1 {
    margin: 10px 25px;
    color: green;
    font-weight: 700;
}


.testimony {
    text-align: center;
}

.testimony h1 {
    font-weight: 600;
    color: green;
}

.testimony .testimony-form {
    background-color: whitesmoke;
    margin: 25px;
}

.testimony .testimony-form input[type="text"] {
    width: 90%;
    height: 40px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.testimony .testimony-form textarea {
    width: 90%;
    padding: 15px;
    border: 1px solid black;
    background-color: whitesmoke;


}

.testimony .testimony-form input[type="submit"] {
    width: 90%;
    border-radius: 5px;
    margin: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.green {
    color: green;
}

button {
    border: none;
}

.testimony-content {
    display: grid;
    grid-template-columns: 20% 80%;
    
    grid-gap: 0;
    margin: 25px;


}

.testimony-content>div {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 20px;

}

.testimony-content img {
    width: 100%;
    min-width: 20px;
    /* height:100px; */
    max-width: 150px;
}

.footer {
background-color:black;
bottom: 0;
text-align: center;
color: white;
width: 100%;
position: relative;
min-height: 100px;
}

