@media  screen  and (max-width:800px){
    .navbar a:not(:first-child){
        display: none;
    }
    .navbar a.Hnav{
        float: right;
        display: block;
    
        text-align: center;
        margin-top:10px ;
        font-size: 40px;
        border: 1px solid lightgrey;
        margin-right: 5px;
        padding-top:10px;
        border: none;
    
        
    }
}
@media  screen  and (max-width:800px){
    .navbar.responsive{
        position: relative;
    }
    .navbar.responsive a.Hnav{
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive  a{
        float: none;
        display: block;
        text-align: left;
        margin: 2px !important;

    }
    .navbar.responsive :first-child:hover{
        background-color: white;

        border-bottom: black;
       
        
    }
    .navbar.responsive :nth-child(9):hover{
        background-color: white;

        border-bottom: black;
       
        
    }
    .navbar.responsive a:hover{
        background-color: lightgrey;
        border-bottom: black;
    }
}
@media  screen  and (max-width:700px){
    .welcome    .image{
        height: 500px;
    }
.text .head{
    font-size: 25px;
    
}
.text   h2{
    font-size: 25px;

}

    .text p{
        font-family: monospace;
        font-size: 10px;
    }
.steps{
    flex-direction: column;
    
}
.steps  div{

flex:100%;
max-width: 100%;
margin-bottom: 20px;
}
.text  .login{
    width: 60px;
    font-size: 10px;

}
}
@media  screen and  (max-width:1000px){
    .steps{
        flex-direction: row;
        flex-wrap: wrap;

    }
    .steps  div{
    
    flex:50% !important;
    max-width:100% !important;
    margin-bottom: 20px;
    }  
}
@media  screen and  (max-width:800px){
    .aboutus{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }
.aboutus > div{
    width:100%;
    /* text-overflow: clip; */
    margin-bottom: 10px;


}
.aboutus > div p{
    text-overflow: ellipsis;
    font-size: small;
    word-spacing: 2px;
    text-align: center;


}
.aboutus > div button{
    width: 100%;
    border-radius: 10px !important;
}
.planscontent{
    display: flex;
    flex-direction: column;



}


}