<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyberearn bitcoin investment website </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mq.css">
    <link rel="stylesheet" href="w3.css">
    <script src="fontawesome-free-5.13.0-web/js/all.js"></script>

</head>

<body class="w3-black">
    <div class="navbar" id="mynavbar">
        <a href="#home"><img src="bitcoinlogo.jpg" alt="LOGO" srcset="" width="70px" height="70px"></a>
        <a href="#home" class="link">Home</a>
        <a href="#Testimonies" class="link">Testimonies</a>
        <a href="#ourplans" class="link">Ourplans</a>
        <a href="#blog" class="link">Blog</a>
        <a href="#contantus" class="link">Contant Us</a>
        <a href="#Login" class="link">Login</a>
        <a href="#Signup" class="link">Sign Up</a>
        <a href="#" class="Hnav" onclick="Hnav()">
            <i class="fa fa-bars"></i>
        </a>

    </div>
    <div class="welcome">
        <div class="image ">
            <div class="text">
                <h2>WELCOME TO</h2>
                <span class="head">CyberEarn <br>
                    Bitcoin Miner </h2></span>
                <p>join the future of algorithmic crypto mining strategies.
                    CyberEarn is a leading Cyptocurrency trading Group that utilized
                    innovative proprietary technologies provide managed Cyptocurrency trading service to yield higher
                    profits
                </p>
                <a href="">
                    <div class="login   w3-btn w3-blue   w3-text-white   w3-padding">Login</div>
                </a>

                <a href="">
                    <div class="login    w3-btn  w3-red  w3-padding w3-margin ">Join Us</div>
                </a>
            </div>
        </div>
    </div>
    <div class="steps ">
        <div>
            <h1 class="w3-center  w3-xxlarge  w3-text-red">
                <i class="fa fa-check"></i></h1>
            <h2>Easy Way To Invest</h2>
            <p>The below simple method on how to invest on CyberEarn</p>

        </div>
        <div>
            <h1 class="w3-center  w3-xxlarge  w3-text-red">
                <i class="fa fa-users"></i></h1>
            <h2>Create an Account</h2>
            <p>click on the join us to Create a free account.Login with your Email to confirm your registration</p>
            <button class="w3-btn w3-red">join us</button>
        </div>
        <div>
            <h1 class="w3-center  w3-xxlarge  w3-text-red">
                <i class="fa fa-home"></i></h1>
            <h2>Choose a Plan</h2>
            <p>Our payment system is fully automated.On plan maturity,your funds will reflect on your dashboard then you
                can click on widthdraw to send your fund to your external BTC wallet.
            </p>
        </div>
        <div>
            <h1 class="w3-center  w3-xxlarge  w3-text-red">
                <i class="fab fa-bitcoin"></i></h1>
            <h2>Withdraw Fund</h2>
            <p>Our payment is fully automated. On plan maturity your fund will reflect on your dashboard then you can
                click on
                widthdraw to send your Fund to your external BTC wallet.
            </p>
        </div>
    </div>




    <script src="script.js"></script>
</body>

</html>